$maxSmall: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$maxMedium: "(max-width: 991px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";
$padding: 100px;
$mainColor: #3aa65d;
$mainColorAlt: #338b50;
$white: #fff;
$whiteDark: #ffffff80;
$transition: .5s;
$titleColor: #333333;
$sectionColor: #f8f8f8;
